* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}



h1 {
    color: #201736;
}

p > a {
    font-size: 12px;
    color: #201736;
    text-decoration: none;
}

.fundo {
    background: url(./img/fundo.jpg) no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(250, 250, 250);
    position: relative;
    width: 798px;
    height: 498px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
}

.side-image {
    background: url(./img/pexels-akwice-3094799\ \(1\).jpg);
    display: flex;
    align-items: flex-start;
    width: 400px;
    height: 500px;
    position: absolute;
    transform: translate(-100%);
    border-radius: 8px 0 0 8px;
    -webkit-box-shadow: 3px 0px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 6px -1px rgba(0,0,0,0.75);
}

.login-form {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10%;
}

.login-input {
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #a90a0f;
    background-color: transparent;
    color: #A90A0F;
}

.login-submit {
    text-decoration: none;
    font-size: 12px;
    color: white;
    background-color: #201736;
    padding: 10px 5px;
    border: 2px solid #201736;
    position:relative;
    width: 100px;
    text-transform: uppercase;
    align-self: center;
    margin: 1rem 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-weight: bold;
}

.login-submit::before , .login-submit::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border: inherit;
    transition: all .5s;
}

.login-submit::before {
    top: -10px;
    left: -10px;
    border-width: 1px 0 0 1px;
}

.login-submit::after {
    bottom: -10px;
    right: -10px;
    border-width: 0 1px 1px 0;
}

.login-submit:hover::before, .login-submit:hover::after {
    width: calc(100% + 19px);
    height: calc(100% + 19px);
}

.social-media {
    margin: 1rem 0;
}
.list-social-media {
    display: flex;
    list-style: none;

}
.link-social-media  {
    color: #201736;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #201736;
    border-radius: 50%;
    margin-left: 10px;
}
.link-social-media:first-child {
    margin-left: 0;
}
.link-social-media:hover {
    background-color: #A90A0F;
    color: #fff;
    border: none;
}
.item-social-media a {
    color: #95a5a6;
}

@media screen and (max-width: 700px) {
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    .fundo {
        background: url(./img/fundo.jpg) no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        color: #201736;
    }
    
    p > a {
        font-size: 12px;
        color: #201736;
        text-decoration: none;
    }
    
    .container {
        background: rgb(250, 250, 250);
        position: relative;
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 8px;
    }

    .side-image {
        background: url(./img/pexels-akwice-3094799\ \(1\).jpg);
        display: flex;
        align-items: flex-start;
        width: 0px;
        height: 0px;
        position: absolute;
        transform: translate(-100%);
        border-radius: 8px 0 0 8px;
        -webkit-box-shadow: 3px 0px 6px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 0px 6px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 0px 6px -1px rgba(0,0,0,0.75);
    }
    
    .login-form {
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    
    .login-input {
        width: 200px;
        height: 40px;
        outline: none;
        border: none;
        border-bottom: 1px solid #a90a0f;
        background-color: transparent;
        color: #A90A0F;
    }
    
    .login-submit {
        text-decoration: none;
        font-size: 12px;
        color: white;
        background-color: #201736;
        padding: 10px 5px;
        border: 2px solid #201736;
        position:relative;
        width: 100px;
        text-transform: uppercase;
        align-self: center;
        margin: 1rem 0;
        border-radius: 3px;
        cursor: pointer;
        transition: .3s ease-in-out;
        font-weight: bold;
    }
    
    .login-submit::before , .login-submit::after {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        border: inherit;
        transition: all .5s;
    }
    
    .login-submit::before {
        top: -10px;
        left: -10px;
        border-width: 1px 0 0 1px;
    }
    
    .login-submit::after {
        bottom: -10px;
        right: -10px;
        border-width: 0 1px 1px 0;
    }
    
    .login-submit:hover::before, .login-submit:hover::after {
        width: calc(100% + 19px);
        height: calc(100% + 19px);
    }
    
    .social-media {
        margin: 1rem 0;
    }
    .list-social-media {
        display: flex;
        list-style: none;
    
    }
    .link-social-media  {
        color: #201736;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid #201736;
        border-radius: 50%;
        margin-left: 10px;
    }
    .link-social-media:first-child {
        margin-left: 0;
    }
    .link-social-media:hover {
        background-color: #A90A0F;
        color: #fff;
        border: none;
    }
    .item-social-media a {
        color: #95a5a6;
    }
}


