* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.cabecalho {
    position: relative;
    height: 187px;
}

.area-de-apresentacao {
    background-color: #3b444b;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.area-de-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e1111;
    color: #fff;
    font-size: 14px;
}